/*--------------------------------------------------
:: Fluidbox Customizations
-------------------------------------------------- */

.fluidbox__overlay {
	  background-color: rgba(0,0,0,.75);
	}

#custom-trigger-1-captions {
	position: fixed;
	bottom: 10%;
	left: 0;
	right: 0;
	opacity: 0;
	padding: 1rem 0;
	//background-color: rgba(255,255,255,.75);
	z-index: 1011;
	text-align: center;
	transition: all .25s ease-in-out;
	transform: translateY(100%);
	color: white;
	font-weight: bold;

	&.visible {
		opacity: 1;
		transform: translateY(0);
	}

	p.img-desc {
  	margin-top: 0;
	}


// navigation
.lg-actions {
	&.active-image{
		.lg-next, .lg-prev {
				background-color: transparent;
				border-radius: 2px;
				color: #fff;
				cursor: pointer;
				display: block;
				font-size: 22px;
				margin-top: -10px;
				padding: 8px 10px 9px;
				position: absolute;
				top: -250px;
				z-index: 1080;
				border: none;
				outline: none;

				&.disabled {
						pointer-events: none;
						opacity: 0;
				}

				&:hover {
						color: #fff;
				}
		}

		.lg-next {
				right: 20px;

				&:before {
						content: "\21E5";
				}
		}

		.lg-prev {
				left: 20px;

				&:after {
						content: "\21E4";
				}
		}
	}
}
}
